<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../jqueryui/jquery-ui.min.css">
</head>
<body>
    <div class="row">
        <label for="attr" class="col-md-2 control-label"> 属性形式</label>

        <div class="col-md-2">
            <input type="text" class="form-control" date-picker>
        </div>
    </div>

    <div class="row">
        <label for="style" class="col-md-2 control-label"> 样式形式</label>

        <div class="col-md-2">
            <input type="text" class="form-control" date-picker>
        </div>
    </div>
</body>
</html>