<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <script th:src="@{js/sockjs.min.js}"></script>
    <script th:src="@{js/stomp.min.js}"></script>
    <script th:src="@{js/jquery-1.11.1.min.js}"></script>
</head>
<body>
    <p>聊天室</p>

    <form id="form1">
        <textarea rows="4" cols="60" name="text"></textarea>
        <input type="submit"/>
    </form>

    <script th:src="@{js/chat/chat.js}"></script>

    <div id="output"></div>
</body>
</html>